:root {
  --color-base-background: #FFFFFF;
  --color-base-background-lighter: #F2F2F2;
  --color-base-text: #333333;
  --color-base-text-lighter: #4F4F4F;
  --color-border: #828282;
  --color-primary-background: #4AA2D9;
  --color-primary-text: #4AA2D9;
}
